@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat",Sans-serif;
	font-size: 14px;
}

header {
	background-color: rgb(45, 143, 182);
	height: 12em;
	color: #fff;
	margin-bottom: 4em;
	text-align: center;
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLULw342jM-55MLpOvpKwOLphqtoAAfok5rwyQYbD_aBX4wChTh2HLw6tosEK4IEeQtrjnUBLJIi8EBoSYm1FqxHvcaiAkT5o7VWaSzvrIKh4dEDXt2tJmC0D63dVHVbw724mJyx-qO9zzS31OepfN37XA=w1920-h192-no?authuser=0);
	background-repeat: no-repeat;
	background-position: center;
}

header h1 {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}

header h2 {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}

header .container:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.container,
.header {
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section {
	margin: 2em 0;
	overflow: hidden;
}

section h2 {
	font-size: 3em;
	display: block;
	padding-bottom: 0.2em;
	border-bottom: 1px solid rgb(45, 143, 182);
	margin-bottom: 0.5em;
	font-family: 'Rozha One', serif;
	text-shadow: 1px 1px 1px #000;
	color:rgb(199, 109, 0);
}


table {
	width: 100%;
	margin-bottom: 0.5em;
	table-layout: fixed;
	z-index: 2;
}

td,
th {
	padding: 0.7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th {
	font-weight: bold;
	background-color: #eee;
}

label {
	color: #555;
	display: block;
	margin-bottom: 0.2em;
}

.campo {
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.7em;
	width: 100%;
}

.campo-medio {
	display: inline-block;
	padding-right: 0.5em;
}

.grupo {
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button {
	padding: 0.5em 2em;
	border: 1;
	border-bottom: 5px solid;
	border-right: 5px solid;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	background-color:forestgreen;
	border-color:darkgreen;
	width: 15%;
	display: block;
	clear: both;
	margin: 10px 0px;
	border-radius: 5%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:active {
	margin-top: 0px;
	border: 0;
}

button[disabled="disabled"],
button:disabled {
	background-color: gray;
	border-color: darkgray;
}

.adicionar-paciente {
	margin-top: 30px;
}

.campo-invalido {
	border: 1px solid red;
}

.paciente-invalido {
	background-color: rgba(139, 0, 0, 0.349);
	color: rgb(116, 4, 4);
}

main {
	margin-bottom: 45px;
}


#mensagens-erro {
	color: red;
	margin-bottom: 10px;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

.removefrase {
	color: rgba(85, 85, 85, 0.699);
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

.frase{
	display: inline-block;
	flex: 1;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.671);
}


.introtable{
	justify-content: space-between;
	display: flex;
	box-sizing: border-box;
}

.search{
    transform: translate(-0%,-25%);
    background: white;
	border-color: green;
	border-width: medium;
	border-style: solid;
    height: 40px;
    border-radius: 40px;
	padding-left: 10px;
	
}
.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: green;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 2s;
	position: relative;
	bottom: 10%;
	left: 2px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width:0px;
}

.confloat {
	padding: 2%;
	box-shadow: 0 0 1em rgba(0,0, .212);
	z-index: 2;
	background-color: white;
	height: 400px;
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
}

form{
	margin-top: 30px;
}

table th{
	background-color: rgb(199, 109, 0);
	color: white;
}	

.bolaum{
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLU0A_8rs7g6_UMZLCw5cesZP9JyB1mbQpkRYjoLpApci9qnWcxketMhXZm1kz1ETxsrBHBSCzkCRsD-LOXDnf9qTV-rmH5lHO6cVoIqEjEyIMcJzQWtBPURWUx9Vyt-jm_Xax8xymcX9cSqev0Z-ApkiQ=s800-no?authuser=0);
	width: 40%;
	height: 800px;
	bottom: -470px;
	float: left;

}

.boladois{
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLXQqavM27SO97EZMSvGB66TUsxqGhyJFJe5LiF_HoO3QD87T_Hf84aHZ3c-LBXviB1Tq9SW4teKQe6MM9c0QwN4rDot_CgMfEL-781iBEGLCgsMGtKNMDH6pUQRQQ6CGFx5f1WRAh9uc3PSfdShJ_vqpg=s800-no?authuser=0);
	background-position: right;
	width: 40%;
	height: 800px;
	bottom: -470px;
	float: right;
	

}

.bolatres{
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLWb4ijxsNbga2WSDq6Ct52WX1SF3zNtgO2oPCspqOLpy4ayxqyxVNoT2nLKT-UfaT-jtWzwPbQz_Tzz0lH0rOPTy7ZUxUzg3FU4AqTkZweK5ksSP3QJ6xsEVkp8e61yLe3lHEYNH7C2E8SUfeJjbTR2-A=s800-no?authuser=00);
	background-position: center;
	background-size: 100%;
	width: 800px;
	height: 500px;
	bottom: 400px;
	float: left;

}

.bolaquatro{
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLUhcmX5WOFMxbqhP2gYd9ouHv8BtNnFsFJUnzIIBXsTLCJyWp73Wjmyb5qYnsxVcqo6EoZge0YJCP2OYAc9Q52lvaEP8tb0utgMj4ZWz36qBnQZ0lDNH8ZShmDhScfNxcwWwbpyy8Y53w-KDTBDeGTb_w=s800-no?authuser=0);
	background-position: center;
	background-size: 100%;
	width: 500px;
	height: 500px;
	bottom: 240px;
	float: right;

}

