*{
	box-sizing: border-box;
 }

body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
}

header{
	background-color: rgb(45, 143, 182);
	height: 12em;
	color: #FFF;
	margin-bottom: 4em;
	text-align: center;
	background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLULw342jM-55MLpOvpKwOLphqtoAAfok5rwyQYbD_aBX4wChTh2HLw6tosEK4IEeQtrjnUBLJIi8EBoSYm1FqxHvcaiAkT5o7VWaSzvrIKh4dEDXt2tJmC0D63dVHVbw724mJyx-qO9zzS31OepfN37XA=w1920-h192-no?authuser=0);
	background-repeat: no-repeat;
	background-position: center;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container, .header{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .2em;
	border-bottom: 1px solid rgb(45, 143, 182);
	margin-bottom: .5em;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:sienna;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 1;
	border-bottom: 5px solid;
	border-right: 5px solid;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	background-color:rgba(139, 0, 0, 0.74);
	border-color: #2b0202;
	width: 15%;
    display: block;
    clear: both;
    margin: 10px 0px;
	border-radius: 5%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido{
	background-color: rgba(139, 0, 0, 0.349);
	color: rgb(116, 4, 4);
}

main {
margin-bottom: 45px;
}